<div data-test="own-inner-lib">{{ownInnerLib}}</div>
<div data-test="own-inner-lib2">{{ownInnerLib2}}</div>
<div data-test="own-inner-lib2-named">{{ownInnerLib2Named}}</div>
{{sample-addon-inner-lib}}