name: Node CI

on: [push,pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        eai_scenario: [2.18, stable, beta, canary]

    steps:
    - uses: actions/checkout@v1
    - name: Use Node.js 12.x
      uses: actions/setup-node@v1
      with:
        node-version: 12.x
    - name: pick version and install
      run: ./scripts/change-ember-cli-version.sh
      env:
        EAI_SCENARIO: ${{ matrix.eai_scenario }}
    - name: test
      run: |
        yarn lint
        yarn test
      env:
        EAI_SCENARIO: ${{ matrix.eai_scenario }}



